<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Movie Review | Review</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="seLoguer">
			<form id="loginform" method="get" action="/login">						
				Email : <input type="text" name="email" id="emaillogin" />
				Mot de passe : <input type="password" name="password" id="passwordlogin" />
				<input type="submit" id="submit" value="Me loguer" />						
			</form>
		</div>

		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="home" id="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">Moviz</h1>
							<small class="site-description">Manage your best movies</small>
						</div>
					</a> <!-- #branding -->



					<div class="main-navigation"><div id="loginuser" class="log"><%=isLoged ? login : ""%></div>
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item  current-menu-item"><a href="home">Last releases</a></li>
							<li class="menu-item"><a href="review">My movies</a></li>
							<li class="menu-item"><a href="contact">Contact</a></li>
						</ul> <!-- .menu -->

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
			
            
            <!--
						<div class="filters">
							<select name="#" id="#" placeholder="Choose Category">
								<option value="#">Action</option>
								<option value="#">Drama</option>
								<option value="#">Fantasy</option>
								<option value="#">Horror</option>
								<option value="#">Adventure</option>
							</select>
							<select name="#" id="#">
								<option value="#">2012</option>
								<option value="#">2013</option>
								<option value="#">2014</option>
							</select>
						</div>
            -->
						<div class="movie-list">
						<% 
							for(var param in listMovies[page]){
								if(parseInt(param, 10)){
							%>
							<div class="movie movief" id="<%=param%>">
								<figure class="movie-poster"><img src="https://image.tmdb.org/t/p/w185<%= listMovies[page][param].poster_path%>" alt="<%= listMovies[page][param].title%>"></figure>
								<div class="movie-title"><i class="fa fa-star-o" aria-hidden="true"></i></div>
								<div class="movie-title"><a href="single?id=<%= listMovies[page][param].id%>"><%= listMovies[page][param].title%></a></div>
								<p class="giveMeEllipsis"><%= listMovies[page][param].overview%></p>
							</div>
							<%}
							}
						%>

						</div> <!-- .movie-list -->

            
						<div class="pagination">
							<%if (page < listMovies.totalPages-5){
								%>
								<% switch(page){								
									case 1 : %>
										<span class="page-number current"><%= page%></span>
										<a href="/?page=<%= page+1%>" class="page-number"><%= page+1%></a>
										<a href="/?page=<%= page+2%>" class="page-number"><%= page+2%></a>
										<a href="/?page=<%= page+3%>" class="page-number"><%= page+3%></a>
										<a href="/?page=<%= page+4%>" class="page-number"><%= page+4%></a>
										<a href="/?page=<%= page+5%>" class="page-number next">
									<% break;
									case 2 : %>
										<a href="/?page=<%= page-1%>" class="page-number"><%= page-1%></a>
										<span class="page-number current"><%= page%></span>
										<a href="/?page=<%= page+1%>" class="page-number"><%= page+1%></a>
										<a href="/?page=<%= page+2%>" class="page-number"><%= page+2%></a>
										<a href="/?page=<%= page+3%>" class="page-number"><%= page+3%></a>
										<a href="/?page=<%= page+4%>" class="page-number next">
									<% break;	
									case 3 : %>
										<a href="/?page=<%= page-2%>" class="page-number"><%= page-2%></a>
										<a href="/?page=<%= page-1%>" class="page-number"><%= page-1%></a>
										<span class="page-number current"><%= page%></span>
										<a href="/?page=<%= page+1%>" class="page-number"><%= page+1%></a>
										<a href="/?page=<%= page+2%>" class="page-number"><%= page+2%></a>
										<a href="/?page=<%= page+3%>" class="page-number next">
									<% break;		
									case 4 : %>
										<a href="/?page=<%= page-2%>" class="page-number"><%= page-3%></a>
										<a href="/?page=<%= page-1%>" class="page-number"><%= page-2%></a>
										<a href="/?page=<%= page+1%>" class="page-number"><%= page-1%></a>
										<span class="page-number current"><%= page%></span>
										<a href="/?page=<%= page+2%>" class="page-number"><%= page+1%></a>
										<a href="/?page=<%= page+3%>" class="page-number next">
									<% break;
									default : %>
										<a href="/?page=<%= page-4%>" class="page-number prev"><i class="fa fa-angle-left"></i></a>
										<a href="/?page=<%= page-3%>" class="page-number"><%= page-3%></a>
										<a href="/?page=<%= page-2%>" class="page-number"><%= page-2%></a>
										<a href="/?page=<%= page-1%>" class="page-number"><%= page-1%></a>
										<span class="page-number current"><%= page%></span>
										<a href="/?page=<%= page+1%>" class="page-number"><%= page+1%></a>
										<a href="/?page=<%= page+2%>" class="page-number next">																															
								<%;}
								%>
								<i class="fa fa-angle-right"></i></a>
							<%}
								else{%>
										<a href="/?page=<%= page-5%>" class="page-number prev"><i class="fa fa-angle-left"></i></a>
										<a href="/?page=<%= page-4%>" class="page-number"><%= page-4%></a>
										<a href="/?page=<%= page-3%>" class="page-number"><%= page-3%></a>
										<a href="/?page=<%= page-2%>" class="page-number"><%= page-2%></a>
										<a href="/?page=<%= page-1%>" class="page-number"><%= page-1%></a>										
										<span class="page-number current"><%= page%></span>
								<%}
								%>
						</div>
            
					</div>
				</div> <!-- .container -->
			</main>
		
		</div>
		<!-- Default snippet for navigation -->
		


		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		<script src="js/script.js"></script>
	</body>

</html>